:root {
  --primary-white: #ffffff;
  --primary-green: #74ee15;
  --primary-light-blue: #4deeea;
  --primary-blue: #001eff;
  --primary-yellow: #ffe700;
  --primary-red: #ee2228;
  --primary-dark: #000000;
}



.carousel-caption {
    bottom: 0;
    z-index: 20;
    /* color: white; */


}

.bg-custom {
background: var(--primary-dark) !important;
opacity: 75%;
}

.img {
    top: 0;
}